
@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
	}

/*content here*/
.content {
	position: relative;
	top: 50px;
	margin-bottom: 300px;
	height: 100%;
	width: 80%;
	left: 10%;
	}


.describe {
	text-align: center;
	margin-bottom: 50px;
	padding: 5%;}
	
.describe h2{
	font-size: 35px;
	font-family: "Raleway";
	letter-spacing: 10px;
	margin-bottom: 50px;
	color: #262C2B;
	}
	
.describe p{
	font-size: 25px;
	font-family: "Inconsolata";
	line-height: 150%;
	word-spacing: 1px;
	color: #262C2B;
	margin-bottom: 5px;}

/*for mobile*/
@media (max-width:450px) {
.describe h2{
	font-size: 25px;
	}
	
.describe p{
	font-size: 18px;}
	}

	
.bowl {
	position: relative;
	width: 82%;
	left: 9%;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 0.8s;
	 /* Fading effect takes 1 second */
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.bowl a{
	text-decoration: none;}

.cover {
	width: 100%;
	margin-bottom: 100px;
	text-decoration: none;
	position: relative;
	color:#262C2B;
	width: 100%;
	height: auto;
	transition: ease 0.5s;
	background-color: #FFFFFF;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	}
	


.cover:hover {
    transform: scale(1.01,1.01);
	}
	

.cover-img {
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 280px;
	text-align: center;
	transition: ease 0.5s;
	}

.cover h3 {
	position: absolute;
	float: left;
	left: 6%;
	width: 16%;
	padding: 1% 2%;
	margin-top: 4%;
	border-right: solid 1px #D0D0D0;
	color: #262C2B;
	font-family: "Raleway";}
	
.info-date {
	font-family: "Cormorant Garamond";
	color: #BCBCBC;
	font-size: 13px;}
	
.cover p {
	position: inherit;
	padding: 5% 0;
	padding-left: 5%;
	left: 24%;	
	width: 65%;
	margin: 0;
	color: #737373;
    text-align: justify;
    text-justify: inter-word;
	font-family: "Cormorant Garamond";
	font-size: 17px;
	}
	
/*for & tablet*/
@media (max-width:1024px) {
.bowl {
	position: relative;
	width: 100%;
	left: 0;}
	
.cover h3 {
	left: 4%;
}
	
.cover p {
	padding: 4% 0;
	padding-left: 5%;
	}	
}

/*for mobile*/
@media (max-width:450px) {
.content {
	width: 100%;
	left: 0;
	margin-bottom: 200px;
	}
	

.bowl {
	position: relative;
	width: 100%;
	left: 0;}
	
.cover h3 {
	position: relative;
	float: none;
	text-align: center;
	left: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	border-right: none;
	}
	
.info-date {
	font-size: 12px;}

.cover-img {
	height: 230px;
	}
	
.cover p {
	position: inherit;
	padding: 5% 0 10% 0;
	left: 7.5%;	
	width: 85%;
	margin: 0;
	color: #737373;
    text-align: justify;
    text-justify: inter-word;
	font-size: 16px;
	}
	}

#r01 {
	background-image: url(../img/blog/Aurora%20chasing/aurora-chasing-cover.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	}
	
#r02 {
	background-image: url(../img/blog/fear/fear-cover.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	}
	
#r03 {
	background-image: url(../img/blog/Into%20Tibet/into-tibet-cover.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	}



