@charset "utf-8";
/* CSS Document */

body {
	padding: 0;
	margin: 0;
	}
	
/*for mobile & tablet*/
@media (max-width:768px) {
#logo {
	position: fixed;
	width: 60px;
	height: 60px;	
	left: 13%;
	top: 18px;
	z-index: 1;
	background-image:url(../img/Logo-line.svg);
	}
	
header {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 65px;
	top: 0;
	background-color: #EBEBEB;
	opacity: 0.95;	
	border-bottom: #E2E2E2 solid 1px;
	z-index: 2;
	}
	}

/*for desktop*/
@media (min-width:769px) {
#logo {
	position: fixed;
	width: 70px;
	height: 70px;	
	left: 90px;
	top: 15px;
	background-image:url(../img/Logo-line.svg);
	}
	
header {
	position: fixed;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 70px;
	top: 0;
	background-color: #EBEBEB;
	opacity: 0.9;	
	border-bottom: #E2E2E2 solid 1px;
	z-index: 2;
	}
	}

/*for desktop*/
@media (min-width:769px) {
ul {
	position: fixed;
	top: 10px;
	right: 5%;
	}

ul li {
	text-decoration: none;
	display: inline;
	margin-right: 30px;
	}
	
ul li a {
    color: #262C2B;
    text-decoration: none;
	font-size: 18px;
	font-family: "Futura LT book", sans-serif;
	letter-spacing: 2px;
	}
	
ul li a:hover {
	border-bottom: solid 1px #262C2B;}

.active {
	border-bottom: solid 1px #262C2B;}	
	
#lang {
	font-size: 15px;
	}
}


/*for mobile & tablet*/
@media (max-width:768px) {
	/*Make dropdown links appear inline*/
	ul {
		position: fixed;
		display: none;
		top: 59px;
		width: 100%;
		background-color: #F7F7F7;
		padding: 0px;
		padding-bottom: 20px;
		z-index:0;
		border-bottom: #E2E2E2 solid 1px;
	}
	/*Create vertical spacing*/
	ul li {
		position: relative;
		width: 60%;
		left: 50%;
		transform:translate(-50%,0);
		top: 8px;
		display: block;
		margin-top: 10px;
		margin-bottom: 30px;
		text-align:center;
		border-bottom: solid 1px #EBEBEB;
	}
	/*Make all menu links full width*/
	ul li, li a {
		padding: 10px 10px 20px 10px;
		text-decoration: none;
		color: #262C2B;
		text-decoration: none;
		font-size: 20px;
		font-family: "Futura LT book", sans-serif;
		letter-spacing: 10px;
	}
	
	#lang {
		font-size: 15px;
		letter-spacing: 2px;}
	
.show-menu {
	display:block;
	position: absolute;
	right: 13%;
	top: 50%;
	transform:translate(0,-50%);
	width: 28px;
	height: 18px;
	background-image: url(../img/nav.svg);
	cursor: pointer;
}
}

/*js nav*/

.overlay {
    height: 0;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.4s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
	font-family:  "Futura LT book", sans-serif;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}


.wrapper {
	position: relative;
	width: 100%;}

/*for desktop and tablet*/
@media (min-width:414px) {
#banner {
	width: 100%;
	padding-top: 60%;
	background-image: url(../img/home/banner.jpg);
	background-size: contain;
	background-repeat:no-repeat;
	z-index: -1;}

#blur-bg {
	position: absolute;
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	width: 100%;
	padding-top: 12%;
	}
}

/*for mobile*/
@media (max-width:414px) {
#banner {
	width: 100%;
	height: 520px;
	background-image: url(../img/home/banner.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	z-index: -1;}
	
#blur-bg {
	position: absolute;
	bottom: 0;
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 60%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 60%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
	width: 100%;
	padding-top: 100px;
	}
	}

.container {
	position: relative;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;}
	
.content {
	position: relative;
	padding-top: 50px;
	margin-bottom: 0px;
	}

/* for desktop */	
@media (min-width:769px){
.intro {
	margin-top: 15px;
	margin-bottom: 130px;
	text-align: center;
	}


.intro h1 {
	font-size: 50px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	letter-spacing: 15px;
	margin-bottom: 60px;
	color: #262C2B;
	}	
	
.intro p {
	font-size: 30px;
	font-family: "Ping Hei Text";
	line-height: 150%;
	word-spacing: 2px;
	letter-spacing: 1px;
	color: #262C2B;
	}
	
#intro-contact {
	margin-top: 80px;}
}

/* for tablet */	
@media (max-width:768px){
.intro {
	position: relative;
	margin-top: 10px;
	margin-bottom: 80px;
	text-align: center;
	width: 95%;
	left: 50%;
	transform: translate(-50%,0);
	}


.intro h1 {
	font-size: 40px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	letter-spacing: 10px;
	margin-bottom: 40px;
	color: #262C2B;
	}	
	
.intro p {
	padding: 5px;
	font-size: 20px;
	font-family: "Ping Hei Text";
	line-height: 150%;
	word-spacing: 2px;
	letter-spacing: 1px;
	color: #262C2B;
	}
	
}

/* for mobile */	
@media (max-width:414px){
.intro {
	position: relative;
	margin-top: 5px;
	margin-bottom: 25px;
	text-align: center;
	width: 95%;
	left: 50%;
	transform: translate(-50%,0);
	}

.intro h1 {
	font-size: 30px;
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	letter-spacing: 10px;
	margin-bottom: 40px;
	color: #262C2B;
	}	
	
.intro p {
	padding: 5px;
	font-size: 18px;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif; 
	line-height: 150%;
	word-spacing: 2px;
	letter-spacing: 1px;
	color: #262C2B;
	}
}


.map {
	width:100%;
	padding-top: 50%;
	background-image: url(../img/amCharts-highlight.svg);
	background-repeat:no-repeat;
	margin-bottom: 10%;
	}

/* for desktop */	
@media (min-width:414px){
.describe {
	margin-bottom: 100px;
	padding-left: 15%;
	}

.describe h2 {
	font-size: 35px;
	font-family: "pinghei";
	letter-spacing: 12px;
	margin-bottom: 50px;
	color: #262C2B;
	}
	
.describe P {
	font-size: 27px;
	font-family: "Ping Hei Text";
	line-height: 150%;
	word-spacing: 1px;
	color: #262C2B;
	margin-bottom: 5px;
	}
}

/* for mobile */	
@media (max-width:414px){
.describe {
	position: relative;
	width: 90%;
	left: 50%;
	transform:translate(-50%,0);
	margin-bottom: 80px;
	}

.describe h2 {
	font-size: 25px;
	font-family: "pinghei";
	letter-spacing: 10px;
	margin-bottom: 40px;
	color: #262C2B;
	}
	
.describe P {
	font-size: 18px;
	font-family: "Ping Hei Text";
	line-height: 150%;
	word-spacing: 2px;
	color: #262C2B;
	margin-bottom: 5px;
	}
}

.content-grey {
	position: relative;
	background-color: #F5F5F5;
	padding-top: 8%;
	padding-bottom: 5%;
	height: auto;
	margin-bottom: 50px;
	}

.row {
	position: relative;
	left: 15%;
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-around;
	}
	
.row a {
	text-decoration: none;}
	
.card, .card-margin {
	width: 45%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
	height: auto;
	background-color: #FFFFFF;
	margin-bottom: 110px;
	}
    

.card img, .card-margin img {
	width: 100%;
	}	

.card-margin{margin-bottom: 0;}


/* this is for mobile*/

@media (max-width:414px) {
.row {
	width: 100%;
	left:0;}

.card, .card-margin {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.01);
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	margin-bottom: 50px;	
	}
	
.card img {
	width: 100%;}
	
.detail {
	font-size: 14px;}
    }
	
.info {
	margin: 0;
	padding: 2% 10%;
	margin-bottom: auto;
	}
	
.info h3 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: #262C2B;
	margin-bottom:  -8px;}
	
.detail {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #737373;
	margin-top: -1px;}
	
.date {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	color: #BCBCBC;
	font-size: 13px;}
	
.link {
	text-decoration: none;
	color: #262C2B;
	font-size: 15px;
	font-family: "Ping Hei Text";
	letter-spacing: 1px;
	word-spacing: 5px;
	}
	
.gallery {
	position: relative;
	width: 98%;
	height: auto;
	left: 1%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-around;
	}
	

.gallery-item {
	margin-bottom: 2.5px;
	width: 24.5%;
	margin-left: 0.25%;
	margin-right: 0.25%;
	height: auto;
}

.gallery-item img {
	border-radius: 2px;
	width: 100%;
	height: auto;}
	
.gallery-item img:hover{
	filter: grayscale(100%);}
	
.more-ex {
	z-index: 1;
	position: relative;
	text-align: center;
	top: 35px;
	}

/* this is for mobile*/	
@media (max-width:414px) {
.gallery-item {
	width: 32%;
	margin-bottom: 1px;
	}
	
.more-ex {
	top: 8px;
	}
	}

/* for desktop */	
@media (min-width:414px){
#contact {
	position: relative;
	left: 50%;
	transform:translate(-50%,0);
	width:70%;
	margin-top: 3%;
	}

#name {
	width: 32%;
	margin-right: 2%;}
	
#email {
	width: 60%;}
}

/* for mobile */	
@media (max-width:414px){
#contact {
	position: relative;
	left: 50%;
	transform:translate(-50%,0);
	width:90%;
	margin-top: 3%;
	}

#name {width: 95%;}
#email {width: 95%;}

}

input[type=text], select, #comment{
    width: 95%;
    padding: 12px 20px;	
    margin: 8px 0 2%;
    display: inline-block;
    border: 1.5px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	font-size:16px;
    }

button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 2px;
	border-radius: 4px;
    cursor: pointer;
	}


footer{
	position: relative;
	margin-top: 100px;
	width: 100%;
	height: 450px;
	background-color: #EBEBEB;
	}
	
	
footer #btt-arrow {
	position:absolute;
	width: 90px;
	height: 90px;
	left: 50%;
	top: -40px;
	transform:translate(-50%,0);
	}
	
#arrow-color {cursor: pointer;}
	
#arrow-color:hover {
	fill: #262C2B;}
	
footer .btm-info{
	position:relative;
	width: 80%;
	left: 10%;
	top: 22%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	color: #262C2B;}
	
footer .btm-info h2 {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	font-size: 30px;
	margin-bottom: 6%;
	letter-spacing: 2px;}

footer #thanks{
	width: 40%;}

footer #thanks a, p{
	color: #929292;
	text-decoration: none;}

	
footer .important-info {
	font-style: italic;
	color: #262C2B;
}	

footer #follow{
	width: 40%;}

#follow i{
	font-size: 50px;}

footer #follow a{
	color: #929292;}
	
/* for tablet */	
@media (max-width:768px){
	#follow i{
	font-size: 40px;}
	
	footer .btm-info{
	width: 90%;
	left: 5%;
	top: 15%;
    }
	}
	
/* this is for mobile*/	
@media (max-width:414px) {
	#follow i{
	position: relative;
	left: 4%;
	font-size: 35px;
	margin: 0 6px;}
	
	footer .btm-info{
	width: 95%;
	left: 2.5%;
	top: 8%;
    }
	
	footer #thanks{
	text-align: center;
	width: 100%;
	margin-bottom: 10px;}
	
	footer #follow{
	text-align: center;
	width: 100%;}
	
	footer .btm-info h2 {
	font-size: 25px;}
	
	footer .btm-info p {
	font-size: 15px;}
	}
	
footer #follow a:hover{
	color: #262C2B;}
	
footer #follow i{
	margin-top: 2%;
	margin-right: 7%;}
	
.fa fa-facebook-official {
	color: #BCBCBC;}
	

footer #cp {
	position: absolute;
	left: 5%;
	width: 90%;
	bottom: 8%;
	text-align: center;
	}
	
footer #cp p {
	font-size: 11px;
	color: #B9B9B9;
	}


