
@charset "utf-8";
/* CSS Document */


body {
	padding: 0;
	margin: 0;
	}
	


/*content here*/
.content {
	position: relative;
	top: 50px;
	margin-bottom: 200px;
	height: 100%;
	width: 80%;
	left: 10%;

	}

.describe {
	text-align: center;
	margin-bottom: 0;
	padding: 5%;
	}
	
.describe h2{
	font-size: 35px;
	font-family: "Raleway";
	letter-spacing: 10px;
	margin-bottom: 50px;
	color: #262C2B;
	}
	
.describe p{
	font-size: 25px;
	font-family: "Inconsolata";
	line-height: 150%;
	word-spacing: 1px;
	color: #262C2B;
	margin-bottom: 5px;}

/*for mobile*/
@media (max-width:450px) {
.describe h2{
	font-size: 25px;
	}
	
.describe p{
	font-size: 18px;}
	}
	

.row {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: space-around;
	}
	
.row a {
	text-decoration: none;}
	
.tabcontent, .card-margin {
	width: 30%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.08), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
	height: auto;
	background-color: #FFFFFF;
	margin-left: 1.66%;
	margin-right: 1.66%;
	margin-bottom: 70px;
	transition: ease 0.5s;
	}

.tabcontent:hover {
    transform: scale(1.02,1.02);
	}
    

.tabcontent img, .card-margin img {
	width: 100%;
	}	

.card-margin{margin-bottom: 0;}


/* this is for mobile*/
@media (max-width:450px) {
.content {
	left: 0;
	width: 100%;
	margin-left: 0;
	margin-right: 0;
	margin-bottom: 150px;
	}	

.row {
	width: 100%;
	left:0;}

.tabcontent, .card-margin {
	margin-left: 0;
	margin-right: 0;
	width: 100%;
	}
	
.tabcontent img {
	width: 100%;}
	
.detail {
	font-size: 16px;}
    }
	
.info {
	margin: 0;
	padding: 2% 10%;
	margin-bottom: auto;
	}
	
.info h3 {
	font-family: "Raleway";
	color: #262C2B;
	margin-bottom:  -8px;}
	
.detail {
	font-family: "Cormorant Garamond";
	font-size: 17px;
	color: #737373;
	margin-top: -1px;}
	
.date {
	font-family: "Cormorant Garamond";
	color: #BCBCBC;
	font-size: 13px;}



